/*----------------------------------------------------
    FONT-FAMILY
----------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/*----------------------------------------------------
    FONT-SIZE
----------------------------------------------------*/
h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h1,h2 {
    color:444;
    text-align: center;
}

/*----------------------------------------------------
    WIDTH OF THE INPUT
----------------------------------------------------*/
input[type="text"] {
    width: 200px;
}

/*----------------------------------------------------
    MARGIN
----------------------------------------------------*/
input[type="text"] {
    margin-bottom: 10px;
}

/*----------------------------------------------------
    BORDER
----------------------------------------------------*/
input[type="text"] {
    border: 1px solid #ccc;
}

/*----------------------------------------------------
    BORDER RADIUS
----------------------------------------------------*/
input[type="text"] {
    border-radius: 50px;
}

#contact { 
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}